.section{
  background-color:#AED6F1;
}
.section h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: serif;
}
.section p{
  font-size: 1.5rem;
}
.Jumbo{
  background-color:#5499C7 ;
}
.col-three{
  background-color:#F2F3F4;
  text-align: center;
}
.col-three col-3{
  width: 100%;
  text-align: center;
}
.col-three h3{
font-size: 2rem;
}
.col-Two{
  background-color:#AED6F1;
}
.meeatTeam-container{
  background-color:#F2F3F4;
}
.card-container{
  background-color:#F2F3F4;
}
.card-container h4{
  font-size: 2rem;
}
.col-md-4{
  display: block;
  width: 500px;
  height: 700px;
}
.Footer{
  display: block;
  padding-top: 250px;
}
