@import url('https://font.googleapis.com/css?family=Poppins:400,500,700')



/*----Media Queries------*/
@media (max-width: 992px){

}
@media(max-width: 768px){

}
@media(max-width:576px){

}
/*-----Firefox bug fix--------*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*------fixed backgroud image-----------*/
figure{
  
}
